################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphAPIForEmail/bin
/GraphAPIForEmail/obj/Debug
/packages
